.email.erro input {
  border: 2px solid red;
}

.hero .email.erro span,
.hero .email.erro .erro-image {
  visibility: visible;
}

.erro-image {
  position: absolute;
  right: 22em;
  top: 2.5em;
  visibility: hidden;
}

.hero .email span {
  display: block;
  padding-left: 1rem;
  padding-top: 1.5rem;
  color: #f86565;
  visibility: hidden;
  font-size: 2rem;
}

.hero .email button:hover {
  background: linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 80%, 86%));
}
