@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}
html{
  font-size: 10px;
}
body {
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 42.4vw;
  grid-template-rows: 100vh;
  height: 100vh;
}

.hero {
  padding: 4.5% 20%;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fefaf9;
}

.hero header img {
  width: 210px;
}

.hero header {
  padding-bottom: 17.6rem;
}

.hero h1 {
  font-size: 9rem;
  text-transform: uppercase;
  letter-spacing: 2rem;
  font-weight: 600;
  color: var(--Dark-Grayish-Red);
}

.hero h1 span {
  color: var(--Desaturated-Red);
  font-weight: 300;
}

.hero p {
  padding-top: 2.7rem;
  padding-bottom: 5rem;
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: var(--Desaturated-Red);
}

.hero .email {
  position: relative;
  display: flex;
  flex-direction: column;
}

.erro-image{
  position: absolute;
  right: 14em;
  top: 1.7em;
  visibility: hidden;
}

.hero .email button {
  padding: 2.4rem 6rem;
  border-radius: 80px;
  position: absolute;
  right: 7em;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  top: .07em;
}

.hero .email button img {
  height: 25px;
  width: auto;
}

.hero .email input {
  padding: 2.8rem 3.8rem;
  width: 80%;
  border-radius: 80px;
  border: 1px solid hsla(0, 36%, 70%, 50%);
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  color: var(--Dark-Grayish-Red);
}

.hero .email input::placeholder {
  font-size: 2.2rem;
  color: hsl(0, 36%, 70%);
  color: hsl(0, 36%, 70%);
}

.hero .email span {
  display: block;
  padding-left: 3.5rem;
  padding-top: 1.2rem;
  color: #f86565;
  visibility: hidden;
}

.image {
  overflow: hidden;
  background-image: url(../images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}